/*
Theme Name responsive-child
Description: Child theme of responsive customized for Views of Rome
Author: Kyle Bock
Template: responsive
*/

@import url("../responsive/style.css");

/*
 * Resets, made important to override in page style declarations
 * as well as !important declarations in external files
 */
.clearfix {
    clear: both;
}

.clear-width {
    width: 100% !important;
}

.clear-margin {
    margin: 0px !important; 
}

.home #wrapper {
    -webkit-border-radius: 6px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    margin: 20px auto;
    padding: 0 20px 20px 20px;
}

/*
 * Map specific styles for the front-page.php script
 */
#mapContainer {
    /*width: 98%;
    height:98%;
    background-color: #c3bda7;
    */
    position:relative;
}

#map {
    width: 600px;
    height: 500px;
    margin: 0px auto;
}

#mapOverlay,
#overlayDrawer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .85;
    color: #fff;
    padding-left: 15px;
    height: 100%;
}

#mapOverlay {
    width:300px;
    display:none;
}

#overlayDrawer {
    width: 50px;
}


/*
 *  List page styles
 */
.widget-simpletags .st-tag-cloud {
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #f9f9f9;
    margin: 0 0 20px;
    padding: 20px;
}

.widget-simpletags .st-tag-cloud a {
    color: #06C !important;
}
