/*
Theme Name responsive-child
Description: Child theme of responsive customized for Views of Rome
Author: Kyle Bock
Template: responsive
*/

@import url("../responsive/style.css");

/*
 * Resets, made important to override in page style declarations
 * as well as !important declarations in external files
 */
.clearfix {
    clear: both;
}

.clear-width {
    width: 100% !important;
}

.clear-margin {
    margin: 0px !important; 
}

.home #wrapper {
    -webkit-border-radius: 6px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    margin: 20px auto;
    padding: 0 20px 20px 20px;
}

/*
 * Header styles
 */
#header {
    margin-top: 5px;
}

#header #logoWrapper {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border: 1px solid #000;
    clear:left;
    background: url(images/header-image.png) #30498f;
    height: 108px; /*make height = to height of header-image.png */

}

#header #logo .site-name {
    margin: 10px 0 0 20px;
}

#header #logo .site-name a {
    color: #fff;
}

#header #logo .site-description {
    color: #d2b000;
    margin: 10px 0 0 35px;
}

/*
 * Map specific styles for the front-page.php script
 */
#mapContainer {
    position:relative;
    margin-top: 20px;
}

#map {
    width: 600px;
    height: 500px;
    margin: 0px auto;
    float: right;
    background-color: #ccc;
}

#mapOverlayWrapper {
    width: 318px;
    float: left;
}

#mapOverlay {
    padding-right: 15px;
}

#overlayDrawer {
    background-color: #000;
    opacity: .85;
    color: #fff;
    padding-left: 15px;
    height: 100%;
}

#overlayDrawer {
    height: 500px;
    border: 1px solid #ccc;
}

#drawerHandle {
    width: 50px
}

#mapOverlay {
    top: 0;
    left: 0;
    width: 200px;
    height: 100%; /* size to full height of parent container */
    background-color: #000;
    opacity: .85;
    color: #fff;
    padding-left:15px;
    /*display:none;*/
}

#mapOverlay,
#drawerHandle {
    float:left;
}


/*
 *  List page styles
 */
.page {
    clear:left;
    margin: 0 0 15px 0;
}

.page img.wp-post-image {
    width: auto;
    max-width: 125px;
    margin: 5px 15px;
    display: inline;
    float: left;
}

.page .list-col {
    width: 96%;
}
.page .list-right-col {
    width: 70%;
    display: inline-block;
    float:left;
}
.page .read-more {
    float: right;
}


.widget-simpletags .st-tag-cloud {
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #f9f9f9;
    margin: 0 0 20px;
    padding: 20px;
}

.widget-simpletags .st-tag-cloud a {
    color: #06C !important;
}
